@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.header {
  background-image: url("../images/header-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 335px;
  margin-bottom: 110px;
}
.header_container {
  max-width: 1113px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header_mobile--menu {
  display: none;
}
.header_mobile--menu--list {
  position: fixed;
  right: 0;
  background-color: #A1A1A1;
  height: 100vh;
  width: 200px;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
}
.header_mobile--menu--list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  color: #FFFFFF;
}
.header_top {
  display: flex;
  justify-content: end;
}
.header_top--list {
  display: flex;
  gap: 40px;
}
.header_top--list li:first-child {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.header_top--list li:first-child::after {
  content: "";
  display: block;
  margin-top: 39px;
  width: 107px;
  height: 1px;
  background-color: #FFFFFF;
}
.header_top--list--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  color: #FFFFFF;
}
.header_line {
  width: 100%;
  height: 1px;
  background-color: #A1A1A1;
}
.header_bottom {
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_bottom--text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}
.header_bottom--title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 48px;
  line-height: 64.36px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}
.header_bottom--btn {
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  background: #4985FF;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.6s ease, transform 0.6s ease;
}
.header_bottom--btn:hover {
  background-color: #12479c;
  transform: scale(1.1);
}

.main_container {
  width: 100%;
  max-width: 1113px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main_first--section {
  padding-bottom: 205px;
}
.main_first--title {
  max-width: 739px;
  padding-bottom: 32px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  text-align: center;
  color: #323232;
}
.main_first--text {
  max-width: 730px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
  padding-bottom: 70px;
}
.main_first--cards {
  display: flex;
  justify-content: center;
  gap: 27px;
  padding-bottom: 55px;
}
.main_first--card {
  display: flex;
  gap: 17px;
}
.main_first--card--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 12px;
}
.main_first--card--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.19px;
  letter-spacing: 0%;
  color: #999999;
}
.main_first--card--info {
  padding-top: 46px;
}
.main_first--btn {
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.6s ease, transform 0.6s ease;
}
.main_first--btn:hover {
  background-color: #12479c;
  transform: scale(1.1);
}
.main_second--section {
  background-color: #f6f6f8;
}
.main_second--top {
  display: flex;
  gap: 121px;
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
}
.main_second--top--left {
  max-width: 489px;
  width: 100%;
  padding-top: 152px;
}
.main_second--top--left--title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  color: #323232;
  margin-bottom: 60px;
}
.main_second--top--left--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  color: #999999;
  margin-bottom: 42px;
}
.main_second--top--left--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #4985ff;
}
.main_second--top--right {
  padding-top: 100px;
}
.main_second--bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}
.main_second--bottom--cards {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.main_second--bottom--card--top {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}
.main_second--bottom--card--digit {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  color: #000000;
}
.main_second--bottom--card--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  color: #999999;
}
.main_third--section {
  padding-top: 100px;
  padding-bottom: 85px;
  background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.main_third--top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}
.main_third--top--title {
  max-width: 540px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  color: #ffffff;
}
.main_third--top--btn {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: #4985ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.main_third--bottom {
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}
.main_third--bottom--cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main_third--bottom--card--title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0%;
  color: #000000;
}
.main_third--bottom--card--title span {
  color: #4985ff;
}
.main_third--bottom--card--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  color: #999999;
  margin-bottom: 47px;
}
.main_third--bottom--card--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #4985ff;
}
.main_fourth--section {
  background-color: #f6f6f8;
  padding-bottom: 130px;
}
.main_fourth--title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  padding-top: 100px;
  margin-bottom: 28px;
}
.main_fourth--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
  margin-bottom: 28px;
}
.main_fourth--cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.main_fourth--btn {
  border: 0;
  border-radius: 30px;
  width: 200px;
  height: 45px;
  cursor: pointer;
  background-color: #4985ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  transition: 0.6s ease-in-out;
}
.main_fourth--btn:hover {
  background-color: #12479c;
  transform: scale(1.1);
}
.main_fifth--section {
  background-image: url("../images/fifth-back.png");
  background-size: 100% 570px;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 85px;
}
.main_fifth--section .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}
.main_fifth--title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
.main_fifth--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}
.main_fifth--video--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}
.main_fifth--video--btn .play-icon {
  font-size: 24px;
  color: #0099ff;
}
.main_sixth--section {
  padding-bottom: 85px;
}
.main_sixth--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.main_sixth--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}
.main_sixth--text--bottom {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 20.6px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 35px;
  color: grey;
}
.main_sixth--email--input {
  width: 299px;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 30px 0 0 30px;
  padding-left: 33px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
}
.main_sixth--email--input::-moz-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 20.6px;
  letter-spacing: 0%;
  color: gray;
}
.main_sixth--email--input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 20.6px;
  letter-spacing: 0%;
  color: gray;
}
.main_sixth--email--btn {
  width: 190px;
  height: 45px;
  background-color: #4985ff;
  border: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  border-radius: 0 30px 30px 0;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  cursor: pointer;
}

.footer {
  background-color: #f2f2f8;
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer_container {
  width: 100%;
  max-width: 1113px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_top {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer_top--card {
  padding-bottom: 70px;
}
.footer_top--card--list--link {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.19px;
  letter-spacing: 0%;
}
.footer_top--card--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.footer_top--card ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_top--card ul li {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer_bottom--text {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 20.6px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 515px) {
  .footer_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .header_top {
    display: none;
  }
  .header_mobile--menu {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 560px) {
  .header_bottom--title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1150px) {
  .main_third--bottom--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main_third--bottom--card:first-child *:not(:last-child), .main_third--bottom--card:nth-child(2) *:not(:last-child) {
    color: white;
  }
  .main_third--bottom--card:first-child *:not(:last-child) span, .main_third--bottom--card:nth-child(2) *:not(:last-child) span {
    color: white;
  }
}
@media screen and (max-width: 1115px) {
  .main_fourth--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .main_fifth--img {
    display: none;
  }
  .main_fifth--video--btn {
    display: block;
  }
}
@media screen and (max-width: 923px) {
  .main_second--bottom--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 884px) {
  .main_second--top {
    gap: 20px;
  }
}
@media screen and (max-width: 790px) {
  .main_third--bottom--cards {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
  }
  .main_third--bottom--card:nth-child(2) .main_third--bottom--card--title {
    color: black;
  }
  .main_third--bottom--card:nth-child(2) .main_third--bottom--card--title span {
    color: #4985ff;
  }
  .main_third--bottom--card:nth-child(2) .main_third--bottom--card--text {
    color: gray;
  }
}
@media screen and (max-width: 765px) {
  .main_first--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main_second--top img {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .main_third--top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 635px) {
  .main_fourth--cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 533px) {
  .main_sixth--email--input {
    width: 160px;
  }
  .main_sixth--email--btn {
    width: 110px;
  }
}
@media screen and (max-width: 520px) {
  .main_first--cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main_second--bottom--cards {
    gap: 50px;
  }
}
@media screen and (max-width: 416px) {
  .main_second--bottom--cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .main_third--bottom--cards img {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  .main_third--section {
    background-size: 100% 43%;
  }
  .main_third--top h2 {
    font-size: 30px;
  }
  .main_third--bottom--cards {
    grid-template-columns: repeat(1, 100%);
  }
}/*# sourceMappingURL=style.css.map */