.main {
  &_container {
    width: 100%;
    max-width: 1113px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &_first {
    &--section {
      padding-bottom: 205px;
    }

    &--title {
      max-width: 739px;
      padding-bottom: 32px;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 52.66px;
      letter-spacing: 0%;
      text-align: center;
      color: #323232;
    }

    &--text {
      max-width: 730px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.36px;
      letter-spacing: 0%;
      text-align: center;
      color: #999999;
      padding-bottom: 70px;
    }

    &--cards {
      display: flex;
      justify-content: center;
      gap: 27px;
      padding-bottom: 55px;
    }

    &--card {
      display: flex;
      gap: 17px;

      &--title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        letter-spacing: 0%;
        color: #000000;
        padding-bottom: 12px;
      }

      &--text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.19px;
        letter-spacing: 0%;
        color: #999999;
      }

      &--info {
        padding-top: 46px;
      }
    }

    &--btn {
      box-shadow: 0px 0px 10px 0px #6f6f6f40;
      background-color: #4985ff;
      width: 200px;
      height: 45px;
      border-radius: 30px;
      border: 0;
      cursor: pointer;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      text-align: center;
      color: #ffffff;
      transition: background-color 0.6s ease, transform 0.6s ease;

      &:hover {
        background-color: #12479c;
        transform: scale(1.1);
      }
    }
  }

  &_second {
    &--section {
      background-color: #f6f6f8;
    }

    &--top {
      display: flex;
      gap: 121px;
      padding-bottom: 90px;
      border-bottom: 1px solid #e0e0e0;

      &--left {
        max-width: 489px;
        width: 100%;
        padding-top: 152px;

        &--title {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 36px;
          line-height: 52.66px;
          letter-spacing: 0%;
          color: #323232;
          margin-bottom: 60px;
        }

        &--text {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.36px;
          letter-spacing: 0%;
          color: #999999;
          margin-bottom: 42px;
        }

        &--link {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 16px;
          line-height: 19.5px;
          letter-spacing: 0%;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: Auto;
          color: #4985ff;
        }
      }

      &--right {
        padding-top: 100px;
      }
    }

    &--bottom {
      padding-top: 70px;
      padding-bottom: 70px;

      &--cards {
        display: flex;
        justify-content: center;
        gap: 100px;
      }

      &--card {
        &--top {
          display: flex;
          gap: 15px;
          align-items: center;
          margin-bottom: 10px;
        }

        &--digit {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 36px;
          line-height: 52.66px;
          letter-spacing: 0%;
          color: #000000;
        }

        &--text {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.36px;
          letter-spacing: 0%;
          color: #999999;
        }
      }
    }
  }

  &_third {
    &--section {
      padding-top: 100px;
      padding-bottom: 85px;

      background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
      background-size: 100% 50%;
      background-repeat: no-repeat;
    }

    &--top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 70px;

      &--title {
        max-width: 540px;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 52.66px;
        letter-spacing: 0%;
        color: #ffffff;
      }

      &--btn {
        width: 200px;
        height: 45px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: none;
        background-color: #4985ff;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0%;
        text-align: center;
        color: #ffffff;
      }
    }

    &--bottom {
      padding-bottom: 85px;
      border-bottom: 1px solid #e0e0e0;

      &--cards {
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      &--card {
        &--title {
          span {
            color: #4985ff;
          }

          margin-bottom: 30px;
          margin-top: 30px;
          font-family: Montserrat;
          font-weight: 600;
          font-size: 18px;
          line-height: 21.94px;
          letter-spacing: 0%;
          color: #000000;
        }

        &--text {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.36px;
          letter-spacing: 0%;
          color: #999999;
          margin-bottom: 47px;
        }

        &--link {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 16px;
          line-height: 19.5px;
          letter-spacing: 0%;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: Auto;
          color: #4985ff;
        }
      }
    }
  }

  &_fourth {
    &--section {
      background-color: #f6f6f8;
      padding-bottom: 130px;
    }

    &--title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 52.66px;
      letter-spacing: 0%;
      text-align: center;
      color: #000000;
      padding-top: 100px;
      margin-bottom: 28px;
    }

    &--text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.36px;
      letter-spacing: 0%;
      text-align: center;
      color: #999999;
      margin-bottom: 28px;
    }

    &--cards {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 50px;
    }

    &--btn {
      border: 0;
      border-radius: 30px;
      width: 200px;
      height: 45px;
      cursor: pointer;
      background-color: #4985ff;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      text-align: center;
      color: #ffffff;
      transition: 0.6s ease-in-out;

      &:hover {
        background-color: #12479c;
        transform: scale(1.1);
      }
    }
  }

  &_fifth {
    &--section {
      background-image: url("../images/fifth-back.png");
      background-size: 100% 570px;
      background-repeat: no-repeat;
      padding-top: 70px;
      padding-bottom: 85px;

      .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 85px;
      }
    }

    &--title {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 36px;
      line-height: 52.66px;
      letter-spacing: 0%;
      text-align: center;
      color: #ffffff;
      margin-bottom: 30px;
    }

    &--text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.36px;
      letter-spacing: 0%;
      text-align: center;
      color: #ffffff;
      margin-bottom: 70px;
    }

    &--video--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px 30px;
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 50px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        display: none;

        .play-icon {
          font-size: 24px;
          color: #0099ff;
      }
    }
  }

  &_sixth {
    &--section {
      padding-bottom: 85px;
    }

    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 18px;
      line-height: 21.94px;
      letter-spacing: 0%;
      text-align: center;
      color: #000000;
      margin-bottom: 20px;
    }

    &--text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.36px;
      letter-spacing: 0%;
      text-align: center;
      color: #999999;
      margin-bottom: 30px;
      &--bottom {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 13px;
        line-height: 20.6px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 35px;
        color: grey;
      }
    }

    &--email {
      &--input {
        width: 299px;
        height: 45px;
        border: 1px solid #f2f2f2;
        border-radius: 30px 0 0 30px;
        padding-left: 33px;
        box-shadow: 0px 0px 10px 0px #6f6f6f40;
        &::placeholder {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 13px;
          line-height: 20.6px;
          letter-spacing: 0%;
          color: gray;
        }
      }

      &--btn {
        width: 190px;
        height: 45px;
        background-color: #4985ff;
        border: 0;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0%;
        text-align: center;
        color: #ffffff;
        border-radius: 0 30px 30px 0;
        box-shadow: 0px 0px 10px 0px #6f6f6f40;
        cursor: pointer;
      }
    }
  }
}
